.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #003366;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #003366;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h3 {
    color: #003366;
}

.modal-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.modal-table th, .modal-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.modal-table th {
    background-color: #f2f2f2;
    color: #333;
}

.modal-table td {
    background-color: #fff;
    color: #333;
}

.modal-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    padding-left: 20px;
}

h1 {
    color: #003366;
    text-align: center;
    padding: 20px 0;
}

hr {
    margin-left: -20px;
    margin-right: -20px;
    border: 0;
    height: 1px;
    background-color: #003366;
    margin-bottom: 20px;
}

.button, .login {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #005cbf;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    width: 60%;
}

.button:hover, .login:hover {
    background-color: #004494;
}

.login {
    background-color: #003366;
}

.button-group {
    display: block;
    text-align: left;
    padding-left: 0;
}

.user-info {
    justify-content: space-between;
    align-items: center;
}

.user-info p {
    display: inline-block;
    margin-right: 10px;
}

.user-info form {
    display: inline-block;
    margin: 0;
}

input[type="submit"] {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #d9534f;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    transition: background-color 0.3s;
    width: 100px;
}

input[type="submit"]:hover {
    background-color: #c9302c;
}

.sidebar {
    float: left;
    width: 30%;
}

.content {
    float: left;
    width: 60%;
    padding-top: 16px;
}

.credit-table {
    width: 60%;
    border-collapse: collapse;
}

.credit-table th, .credit-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.credit-table th {
    background-color: #f2f2f2;
    color: #333;
}

.detail-button {
    background-color: #005cbf;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 8px 16px;
    cursor: pointer;
}

.detail-button:hover {
    background-color: #004494;
}
